* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  */

@keyframes jump {
  0% {
    transform: translateY(10px);
  }

  50% {
    opacity: 80%;
    transform: translateY(-50px);
  }

  90% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.jump {
  animation: jump 700ms ease;
}

.jump-fast {
  animation: jump 500ms ease;
}
/*  */

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
  }
}

.reveal {
  animation: reveal 1s ease;
}

.reveal-fast {
  animation: reveal 600ms ease;
}

/*  */

/*  */
@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-from-left {
  animation: slide-in-from-left 1s ease;
}

.slide-in-from-left-fast {
  animation: slide-in-from-left 600ms ease;
}

/*  */

@keyframes slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-from-right {
  animation: slide-in-from-right 1s ease;
}

.slide-in-from-right-fast {
  animation: slide-in-from-right 600ms ease;
}

/*  */

@keyframes slide-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-from-top {
  animation: slide-in-from-top 1s ease;
}

.slide-in-from-top-fast {
  animation: slide-in-from-top 600ms ease;
}

/*  */

@keyframes slide-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-from-bottom {
  animation: slide-in-from-bottom 1s ease;
}

.slide-in-from-bottom-fast {
  animation: slide-in-from-bottom 600ms ease;
}

/*  */

@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.spin {
  animation: spin 1s ease;
}

.spin-fast {
  animation: spin 600ms ease;
}
